## Overview

In [2]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from itertools import combinations
from collections import Counter
import sqlite3

## Data Loading
df = pd.read_csv("OnlineRetail.csv", encoding="ISO-8859-1")

print(f"Shape: {df.shape}")
print("\nFirst few rows:")
print(df.head)

Shape: (541909, 8)

First few rows:
<bound method NDFrame.head of        InvoiceNo StockCode                          Description  Quantity  \
0         536365    85123A   WHITE HANGING HEART T-LIGHT HOLDER         6
1         536365     71053                  WHITE METAL LANTERN         6
2         536365    84406B       CREAM CUPID HEARTS COAT HANGER         8
3         536365    84029G  KNITTED UNION FLAG HOT WATER BOTTLE         6
4         536365    84029E       RED WOOLLY HOTTIE WHITE HEART.         6
...          ...       ...                                  ...       ...
541904    581587     22613          PACK OF 20 SPACEBOY NAPKINS        12
541905    581587     22899         CHILDREN'S APRON DOLLY GIRL          6
541906    581587     23254        CHILDRENS CUTLERY DOLLY GIRL          4
541907    581587     23255      CHILDRENS CUTLERY CIRCUS PARADE         4
541908    581587     22138        BAKING SET 9 PIECE RETROSPOT          3

            InvoiceDate  UnitPrice  CustomerID         Country
0        12/1/2010 8:26       2.55     17850.0  United Kingdom
1        12/1/2010 8:26       3.39     17850.0  United Kingdom
2        12/1/2010 8:26       2.75     17850.0  United Kingdom
3        12/1/2010 8:26       3.39     17850.0  United Kingdom
4        12/1/2010 8:26       3.39     17850.0  United Kingdom
...                 ...        ...         ...             ...
541904  12/9/2011 12:50       0.85     12680.0          France
541905  12/9/2011 12:50       2.10     12680.0          France
541906  12/9/2011 12:50       4.15     12680.0          France
541907  12/9/2011 12:50       4.15     12680.0          France
541908  12/9/2011 12:50       4.95     12680.0          France

[541909 rows x 8 columns]>

In [3]:
## Initial Exploration

print("\nColumn Info:")
print(df.info())
 
print("\nBasic Statistics:")
print(df.describe())

print("\nMissing Values:")
print(df.isnull().sum())

#Check unique values in key columns
print(f"\nUnique Invoices: {df['InvoiceNo'].nunique()}")
print(f"Unique Products: {df['StockCode'].nunique()}")
print(f"Unique Customers: {df['CustomerID'].nunique()}")

Column Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 541909 entries, 0 to 541908
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   InvoiceNo    541909 non-null  object
 1   StockCode    541909 non-null  object
 2   Description  540455 non-null  object
 3   Quantity     541909 non-null  int64
 4   InvoiceDate  541909 non-null  object
 5   UnitPrice    541909 non-null  float64
 6   CustomerID   406829 non-null  float64
 7   Country      541909 non-null  object
dtypes: float64(2), int64(1), object(5)
memory usage: 33.1+ MB
None

Basic Statistics:
            Quantity      UnitPrice     CustomerID
count  541909.000000  541909.000000  406829.000000
mean        9.552250       4.611114   15287.690570
std       218.081158      96.759853    1713.600303
min    -80995.000000  -11062.060000   12346.000000
25%         1.000000       1.250000   13953.000000
50%         3.000000       2.080000   15152.000000
75%        10.000000       4.130000   16791.000000
max     80995.000000   38970.000000   18287.000000

Missing Values:
InvoiceNo           0
StockCode           0
Description      1454
Quantity            0
InvoiceDate         0
UnitPrice           0
CustomerID     135080
Country             0
dtype: int64

Unique Invoices: 25900
Unique Products: 4070
Unique Customers: 4372

In [4]:
## Data cleaning

print(f"Original dataset size: {len(df)}")

# Remove rows with missing cusomter ID

df_clean = df.dropna(subset=['CustomerID'])
print(f"Size after missing CustomerID: {len(df_clean)}")

# Remove cancelled orders
df_clean = df_clean[~df_clean['InvoiceNo'].astype(str).str.startswith('C')]
print(f"After removing cancelled orders: {len(df_clean)}")

# Remove rows with negative or zero quantities 
df_clean = df_clean[df_clean['Quantity'] > 0]
print (f"After removing negative/zero quantities: len{df_clean}")

# Remove rows with negative prices 
df_clean = df_clean[df_clean['UnitPrice'] > 0]
print (f"After removing negative prices: {len(df_clean)}")

# Remove rows with missing Description
df_clean = df_clean.dropna(subset=['Description'])
print(f"After removing missing descriptions: {len(df_clean)}")

# Stripping whitespace from Description and converting to uppercase
df_clean['Description'] = df_clean['Description'].str.strip().str.upper()

print(f"\nFinal cleaned dataset size: {len(df_clean)}")
print(f"Percentage retained: {len(df_clean)/len(df)*100:.2f}%")

Original dataset size: 541909
Size after missing CustomerID: 406829
After removing cancelled orders: 397924
After removing negative/zero quantities: len       InvoiceNo StockCode                          Description  Quantity  \
0         536365    85123A   WHITE HANGING HEART T-LIGHT HOLDER         6
1         536365     71053                  WHITE METAL LANTERN         6
2         536365    84406B       CREAM CUPID HEARTS COAT HANGER         8
3         536365    84029G  KNITTED UNION FLAG HOT WATER BOTTLE         6
4         536365    84029E       RED WOOLLY HOTTIE WHITE HEART.         6
...          ...       ...                                  ...       ...
541904    581587     22613          PACK OF 20 SPACEBOY NAPKINS        12
541905    581587     22899         CHILDREN'S APRON DOLLY GIRL          6
541906    581587     23254        CHILDRENS CUTLERY DOLLY GIRL          4
541907    581587     23255      CHILDRENS CUTLERY CIRCUS PARADE         4
541908    581587     22138        BAKING SET 9 PIECE RETROSPOT          3

            InvoiceDate  UnitPrice  CustomerID         Country
0        12/1/2010 8:26       2.55     17850.0  United Kingdom
1        12/1/2010 8:26       3.39     17850.0  United Kingdom
2        12/1/2010 8:26       2.75     17850.0  United Kingdom
3        12/1/2010 8:26       3.39     17850.0  United Kingdom
4        12/1/2010 8:26       3.39     17850.0  United Kingdom
...                 ...        ...         ...             ...
541904  12/9/2011 12:50       0.85     12680.0          France
541905  12/9/2011 12:50       2.10     12680.0          France
541906  12/9/2011 12:50       4.15     12680.0          France
541907  12/9/2011 12:50       4.15     12680.0          France
541908  12/9/2011 12:50       4.95     12680.0          France

[397924 rows x 8 columns]
After removing negative prices: 397884
After removing missing descriptions: 397884

Final cleaned dataset size: 397884
Percentage retained: 73.42%

In [5]:
#Create in-memory SQLite database and load cleaned data into it

conn = sqlite3.connect(':memory:')

df_clean.to_sql('retail_data', conn, index=False, if_exists='replace')

#Find top 20 best selling products by quantity
query1 = """
SELECT 
    Description,
    SUM(Quantity) as TotalQuantity,
    COUNT(DISTINCT InvoiceNo) as NumTransactions,
    ROUND(AVG(UnitPrice), 2) as AvgPrice
FROM retail_data
GROUP BY Description
ORDER BY TotalQuantity DESC
LIMIT 20;
"""
top_products_sql = pd.read_sql_query(query1, conn)
print(top_products_sql)

                           Description  TotalQuantity  NumTransactions  \
0          PAPER CRAFT , LITTLE BIRDIE          80995                1
1       MEDIUM CERAMIC TOP STORAGE JAR          77916              195
2    WORLD WAR 2 GLIDERS ASSTD DESIGNS          54415              472
3              JUMBO BAG RED RETROSPOT          46181             1600
4   WHITE HANGING HEART T-LIGHT HOLDER          36725             1971
5        ASSORTED COLOUR BIRD ORNAMENT          35362             1375
6      PACK OF 72 RETROSPOT CAKE CASES          33693             1029
7                       POPCORN HOLDER          30931              632
8                   RABBIT NIGHT LIGHT          27202              801
9               MINI PAINT SET VINTAGE          26076              325
10           PACK OF 12 LONDON TISSUES          25345              382
11  PACK OF 60 PINK PAISLEY CAKE CASES          24264              669
12                  BROCADE RING PURSE          22963              206
13     VICTORIAN GLASS HANGING T-LIGHT          22433              815
14           ASSORTED COLOURS SILK FAN          21876              324
15               RED  HARMONICA IN BOX          20975              561
16             JUMBO BAG PINK POLKADOT          20165              871
17                SMALL POPCORN HOLDER          18252              403
18             LUNCH BAG RED RETROSPOT          17697             1288
19         60 TEATIME FAIRY CAKE CASES          17689              657

    AvgPrice
0       2.08
1       1.22
2       0.29
3       2.02
4       2.89
5       1.68
6       0.55
7       0.84
8       2.01
9       0.66
10      0.33
11      0.55
12      0.32
13      1.43
14      0.81
15      1.26
16      2.02
17      0.83
18      1.66
19      0.55

In [ ]:
# Top 20 customers by total spending 

query2 = """
SELECT 
    CustomerID,
    COUNT(DISTINCT InvoiceNo) as NumOrders,
    SUM(Quantity * UnitPrice) as TotalSpending,
    ROUND(AVG(Quantity * UnitPrice), 2) as AvgOrderValue
FROM retail_data
GROUP BY CustomerID
ORDER BY TotalSpending DESC
LIMIT 20;
"""
top_customers_sql = pd.read_sql_query(query2, conn)
print(top_customers_sql)

    CustomerID  NumOrders  TotalSpending  AvgOrderValue
0      14646.0         73      280206.02         134.97
1      18102.0         60      259657.30         602.45
2      17450.0         46      194550.79         577.30
3      16446.0          2      168472.50       56157.50
4      14911.0        201      143825.06          25.34
5      12415.0         21      124914.53         174.95
6      14156.0         55      117379.63          83.84
7      17511.0         31       91062.38          94.56
8      16029.0         63       81024.84         334.81
9      12346.0          1       77183.60       77183.60
10     16684.0         28       66653.56         240.63
11     14096.0         17       65164.79          12.75
12     13694.0         50       65039.62         114.51
13     15311.0         91       60767.90          25.54
14     13089.0         97       58825.83          32.36
15     17949.0         45       58510.48         835.86
16     15769.0         26       56252.72         432.71
17     15061.0         48       54534.14         135.32
18     14298.0         44       51527.30          31.48
19     14088.0         13       50491.81          85.72

In [15]:
# Products frequently bought together 

query3 = """
SELECT 
    r1.InvoiceNo,
    r1.Description as Product1,
    r2.Description as Product2
FROM retail_data r1
JOIN retail_data r2 
    ON r1.InvoiceNo = r2.InvoiceNo 
    AND r1.Description < r2.Description
LIMIT 20;
"""
sample_pairs_sql = pd.read_sql_query(query3, conn)
print(sample_pairs_sql)

   InvoiceNo                             Product1  \
0     536365   WHITE HANGING HEART T-LIGHT HOLDER
1     536365       CREAM CUPID HEARTS COAT HANGER
2     536365       CREAM CUPID HEARTS COAT HANGER
3     536365       CREAM CUPID HEARTS COAT HANGER
4     536365       CREAM CUPID HEARTS COAT HANGER
5     536365       CREAM CUPID HEARTS COAT HANGER
6     536365       CREAM CUPID HEARTS COAT HANGER
7     536365  KNITTED UNION FLAG HOT WATER BOTTLE
8     536365  KNITTED UNION FLAG HOT WATER BOTTLE
9     536365  KNITTED UNION FLAG HOT WATER BOTTLE
10    536365  KNITTED UNION FLAG HOT WATER BOTTLE
11    536365       RED WOOLLY HOTTIE WHITE HEART.
12    536365       RED WOOLLY HOTTIE WHITE HEART.
13    536365       RED WOOLLY HOTTIE WHITE HEART.
14    536365         SET 7 BABUSHKA NESTING BOXES
15    536365         SET 7 BABUSHKA NESTING BOXES
16    536365    GLASS STAR FROSTED T-LIGHT HOLDER
17    536365    GLASS STAR FROSTED T-LIGHT HOLDER
18    536365    GLASS STAR FROSTED T-LIGHT HOLDER
19    536365    GLASS STAR FROSTED T-LIGHT HOLDER

                               Product2
0                   WHITE METAL LANTERN
1     GLASS STAR FROSTED T-LIGHT HOLDER
2   KNITTED UNION FLAG HOT WATER BOTTLE
3        RED WOOLLY HOTTIE WHITE HEART.
4          SET 7 BABUSHKA NESTING BOXES
5    WHITE HANGING HEART T-LIGHT HOLDER
6                   WHITE METAL LANTERN
7        RED WOOLLY HOTTIE WHITE HEART.
8          SET 7 BABUSHKA NESTING BOXES
9    WHITE HANGING HEART T-LIGHT HOLDER
10                  WHITE METAL LANTERN
11         SET 7 BABUSHKA NESTING BOXES
12   WHITE HANGING HEART T-LIGHT HOLDER
13                  WHITE METAL LANTERN
14   WHITE HANGING HEART T-LIGHT HOLDER
15                  WHITE METAL LANTERN
16  KNITTED UNION FLAG HOT WATER BOTTLE
17       RED WOOLLY HOTTIE WHITE HEART.
18         SET 7 BABUSHKA NESTING BOXES
19   WHITE HANGING HEART T-LIGHT HOLDER

In [ ]:
# Group by InvoiceNo to get items purchased together

basket= df_clean.groupby(['InvoiceNo', 'Description'])['Quantity'].sum().unstack().fillna(0)

# Convert to binary where 1 is if item was purchased 0 if not
basket_binary = basket.applymap(lambda x: 1 if x > 0 else 0)

print(f"\nTotal transactions: {len(basket_binary)}")
print(f"Total unique products: {len(basket_binary.columns)}")

# Find most frequently purchased items
item_frequency = basket_binary.sum().sort_values(ascending=False)
print("\n Top 20 Most Frequently Purchased Items")
print(item_frequency.head(20))

# Find item pairs that appear together 
# Only use the top 50 most popular items for relevancy purposes

top_n = 50
top_items = item_frequency.head(top_n).index

# Filter basket to only include top items
basket_top = basket_binary[top_items]

# Find all pairs and count co-occurances
pair_counts = []
for transaction in basket_top.values:
    items_in_transaction = top_items[transaction > 0]
    if len(items_in_transaction) >= 2:
        for pair in combinations(items_in_transaction, 2):
            pair_counts.append(tuple(sorted(pair)))

# Count frequency of each pair
pair_frequency = Counter(pair_counts)

# Convert to DataFrame for easier analysis
pairs_df = pd.DataFrame(pair_frequency.items(), columns=['Item_Pair', 'Frequency'])
pairs_df[['Item_1', 'Item_2', 'Frequency']].sort_values('Frequency', ascending=False)

print("\nTop 20 Item Pairs Purchased Together:")
print(pairs_df.head(20))

# Calculate support (percentage of transactions containing he pair)

pairs_df['Support'] = pairs_df['Frequency'] / len(basket_binary) * 100

print("\nTop 20 Item Pairs with Support (%)")
print(pairs_df.head(20))